*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: #f0f0d0;
  height: 10vh;
}

.logo {
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
  line-height: 10vh;
}

#wrapper {
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #f0eedc;
}


/* Utility Class */
