*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: #f0f0d0;
  height: 10vh;
}

.logo {
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
  line-height: 10vh;
}

#wrapper {
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #f0eedc;
  font-size: 20px;
}

textarea {
  resize: none;
}

/* .inp-box{
  
} */
.calculation-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 40px;
  width: 85%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
}

select {
  height: 40px;
  width: 50%;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}


#convert {
  background:rgb(23, 209, 23);
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
}

#reset {
  background: grey;
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
  
}

#swap {
  background:grey;
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
}
#copy{
  background: rgba(43, 7, 7, 0.507);
  color: white;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 4px;
}
textarea{
  height: 100px;
  width: 85%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  
}
/* Utility Class */ 